* { font-family: 'Open Sans', sans-serif;

}
h1
 { font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
     text-transform: uppercase;
     font-weight: 700;
     text-align:center;
     color: #d6a7ca;
     margin-top: 20px;
   }
.profile { height:40%; width: 40%;
          border-radius: 50%;
          display: block;
          margin: auto;
    }

.secondrow { margin-top: 30px;
             text-align: center;
             color: #8c8580;
             font-size: 1.20em
}
