
html, body {
margin: 0;
padding: 0;
}

body {
background: #eaecea;
font-family: helvetica;
}
body a {
    text-rendering: optimizeLegibility;
    }



#wrapper {
overflow: hidden;
min-width: 1263px;
max-width: 1263px;
margin: 0 auto;
position: relative;
}

section {
     border:1px solid #eaecea;
     width:100%;
     height:700px;

   }



#taiwan {
  position:fixed;
  top:450px;
  left:50%;
  margin-left:-30px;
  z-index:200;
}

#one{
  background-color:#f6edac;
}

#two{
  background-color: #cfeaf3;
  position: relative;
  z-index: 1;

}

#three{
  background-color:#bcb7a4;
}

#four{
  background-color: #e3f9eb;
  background-image: url(../imgs/bg4.png);
}

#five{
  background-color: #ffffff;
  background-image: url(../imgs/bg5.png);
}

#six{
  background-color: #ffffff;
  }

  #seven{
    background-color: #dbdbdb;
    }

#title{
font-family:'Quicksand', sans-serif;
color:#5b736b;
font-weight:700;
font-size: 70px;
text-align: center;
margin-top: 200px;
}



#map{
  position:absolute;
  visibility: hidden;
  z-index: 2;


}

#location{
width:350px;
font-family:'Quicksand', sans-serif;
color:#5b736b;
font-weight:700;
font-size: 66px;
left: 50%;
margin-left:-175px;
margin-top: 200px;
text-align: center;
position: absolute;
z-index: 3;
}

#original{
font-family:'Quicksand', sans-serif;
color:#5b736b;
font-weight:700;
font-size: 66px;
width:800px;
left: 50%;
margin-left:-400px;
margin-top: 60px;
text-align: center;
position: absolute;
z-index: 3;
}

#boba{
  position:absolute;
  visibility: hidden;
  z-index: 2;


}

#president{
width:1000px;
font-family:'Quicksand', sans-serif;
color:#5b736b;
font-weight:700;
font-size: 66px;
left:50%;
margin-top: 80px;
margin-left: -500px;
text-align: center;
position: absolute;
z-index: 3;
}

#tsaileft {
  position:absolute;
  visibility: hidden;
  z-index: 2;

}
#tsairight{
  position:absolute;
  visibility: hidden;
  z-index: 2;
}

#equal{
  width:900px;
  font-family:'Quicksand', sans-serif;
  color:#ffffff;
  font-weight:700;
  font-size: 66px;
  left:50%;
  margin-top: 80px;
  margin-left: -450px;
  text-align: center;
  position: absolute;
  z-index: 3;
  }


#couple1{
  position:absolute;
  visibility: hidden;
  z-index: 2;
}

#couple2{
  position:absolute;
  visibility: hidden;
  z-index: 2;
}

#density{
  width:900px;
  font-family:'Quicksand', sans-serif;
  color:#5b736b;
  font-weight:700;
  font-size: 66px;
  left:50%;
  margin-top: 80px;
  margin-left: -450px;
  text-align: center;
  position: absolute;
  z-index: 3;

}

#store{
  position:absolute;
  visibility: hidden;
  z-index: 2;
}

#bao{
  width:900px;
  font-family:'Quicksand', sans-serif;
  color:#5b736b;
  font-weight:700;
  font-size: 66px;
  left:50%;
  margin-top: 80px;
  margin-left: -450px;
  text-align: center;
  position: absolute;
  z-index: 3;

}

#dintaifung{
  position:absolute;
  visibility: hidden;
  z-index: 2;
}

#dumplings{
  position:absolute;
  visibility: hidden;
  z-index: 2;
}
